<?xml version="1.0"?>
<launch>

    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

    <include file="$(find hmi_bringup)/launch/start_demo_b1.launch">
      <arg name="robot_env" value="$(arg robot_env)"/>
    </include>
    <include file="$(find hmi_bringup)/launch/start_demo_t2.launch">
      <arg name="robot_env" value="$(arg robot_env)"/>
    </include>

</launch>
