<?xml version="1.0"?>
<launch>

    <arg name="robot" default="cob4-2"/>
    <arg name="robot_env" default="hannover"/>

    <include file="$(find hmi_bringup)/launch/start_demo_b1.launch">
      <arg name="robot_env" value="$(arg robot_env)"/>
    </include>
    <include file="$(find hmi_bringup)/launch/start_demo_t2.launch">
      <arg name="robot_env" value="$(arg robot_env)"/>
    </include>

</launch>
