<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

	<include file="$(find hmi_bringup)/launch/upload_param.launch">
	    <arg name="robot" value="$(arg robot)"/>
	</include>

	<include file="$(find hmi_table_localisation)/ros/launch/table_localisation.launch"/>

    <node pkg="hmi_manipulation" type="roses_tf_broadcaster.py" name="roses_tf_broadcaster" respawn="false" output="screen" />

</launch>
