<?xml version="1.0"?>
<launch>

    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

    <arg name="cob4-2-b1" default="cob4-2-b1"/>
    <arg name="cob4-2-t1" default="cob4-2-t1"/>
    <arg name="cob4-2-t2" default="cob4-2-t2"/>
    <arg name="cob4-2-t3" default="cob4-2-t3"/>
    <arg name="cob4-2-s1" default="cob4-2-s1"/>
    <arg name="cob4-2-h1" default="cob4-2-h1"/>

    <include file="$(find hmi_bringup)/launch/upload_param.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="robot_env" value="$(arg robot_env)"/>
    </include>

    <group>
        <machine name="cob4-2-b1" address="$(arg cob4-2-b1)" env-loader="$(find cob_bringup)/env.sh" default="true"/>

        <!-- start navigation -->
        <include file="$(find cob_navigation_global)/launch/2dnav_linear.launch" >
            <arg name="map" value="$(find hmi_bringup)/config/$(arg robot_env)/map.yaml" />
        </include>

        <include file="$(find hmi_table_localisation)/ros/launch/table_localisation.launch"/>
        
        <include file="$(find cobvid)/launch/start_demo_berlin.launch"/>
        
        <!-- start android script_server -->
        <node pkg="cob_android_script_server" type="script_server_android.py" name="android_script_server" cwd="node" respawn="false" output="screen" >
            <rosparam command="load" ns="control_buttons" file="$(find hmi_bringup)/config/$(arg robot)/command_gui_buttons.yaml"/>
            <rosparam command="load" ns="nav_buttons" file="$(find hmi_bringup)/config/$(arg robot_env)/command_gui_buttons.yaml"/>
        </node>
    </group>

</launch>
